Create database QLKS
use QLKS


	Create table KhachHang 
	(
		maKH INT IDENTITY not null,
		hoTen nvarchar(30) not null,
		tenDangNhap char(20) not null,
		matKhau nchar(10) not null,
		soCMND char(10) not null,
		diaChi nvarchar(50) not null,
		soDienThoai char(12) not NULL UNIQUE,		
		moTa nvarchar(1000),
		email char(50),
		primary key (maKH),
		unique (tenDangNhap, soCMND, email, soDienThoai)
	)

	GO
	-- tạo index trong KhachHang
		CREATE index KhachHang_DN
		ON KhachHang(tenDangNhap,matKhau)
	GO
		CREATE index KhachHang_CMND
		ON KhachHang(soCMND)
	GO

	Create table KhachSan
		(
		MaKS char(10) not null,
		tenKS nvarchar(50) not null,
		soSao INT not null,
		soNha INT not null ,
		duong nvarchar(30) not null,
		quan nvarchar(20) not null,
		thanhPho nvarchar(20) not null,
		giaTB int not null,
		moTa nvarchar(1000),
		primary key (maKS)
		)
	go
	-- tạo index KhachSan
		CREATE index KhachSan_SoSaoTP
		ON KhachSan (soSao,thanhPho)
	go
		CREATE index KhachSan_giaTBTP
		ON KhachSan(giaTB, thanhPho)
	go
		CREATE index KhachSan_TP
		ON KhachSan(thanhPho)
	GO

--tạo bảng LoaiPhong
	Create table LoaiPhong
	(
		maLoaiPhong char(10) not null,
		tenLoaiPhong nvarchar(30) not null,
		maKS char(10) not null,
		donGia int not null,
		moTa nvarchar(1000) ,
		slTrong INT not null,
		primary key(maLoaiPhong),
	)
	--- tạo index bảng LoaiPhong
	GO 
		CREATE index LoaiPhong_maKS
		ON LoaiPhong(maKS)
	go
		CREATE index LoaiPhong_dongiaKS
		ON LoaiPhong(maKS,donGia)
	go
--tạo bảng Phong
	create table Phong
	(
		maPhong char(10) not null,
		LoaiPhong char(10) not null,
		soPhong INT not null,
		primary key (maPhong),
	) 

	--tạo index bảng Phong
	GO 
		CREATE index Phong_LoaiPhong
		ON Phong(loaiPhong)
	GO 
--tạo bảng TrangThaiPHong

	Create table TrangThaiPhong
	(
		maPhong char(10) not null,
		ngay date NOT NULL ,
		tinhTrang nvarchar(15),
		primary key(maPhong,ngay)
	)

	go
	--tạo index bảng TrangThaiPhong
		CREATE index TrangThaiPhong_maPhong
		ON TrangThaiPhong(maPhong)
	go
--Tạo bảng đặt phòng
	
	Create table DatPhong
	(
		maDP INT IDENTITY not null,
		maLoaiPhong CHAR(10) not null,
		maKH int not null,
		ngayBatDau DATE not null,
		ngayTraPhong DATE NOT NULL ,
		ngayDat DATE not null,
		donGia int not null,
		moTa nvarchar(100),
		tinhTrang nchar(15) not NULL,
		primary key (maDP)
	)

	go
		--tạo index bảng DatPhong
		CREATE index DatPhong_KH
		ON DatPhong(maLoaiPhong,maKH)
	GO
--tạo bảng hóa đơn

	Create table HoaDon
	(
		maHD INT IDENTITY NOT NULL ,
		ngayThanhToan DATE not null,
		tongTien int ,
		maDP int not null,
		primary key(maHD),
	)
	go
--tạo index bảng HoaDon
		CREATE index HoaDon_DP
		ON HoaDon(maDP)
	go
		CREATE index HoaDon_ThanhToan
		ON HoaDon(ngayThanhToan, tongTien)
	GO 
--=====================================================================
alter table LoaiPhong 
	add constraint LoaiPhong_KhachSan_FK
	foreign key (maKS)
	references KhachSan(maKS)

alter table Phong
	add constraint phong_LoaiPhong_FK 
	foreign key(loaiPhong)
	references  LoaiPhong(maLoaiPhong)

alter table TrangThaiPhong
	add constraint TrangThaiPhong_Phong_FK
	foreign key (maPhong)
	references Phong(maPhong)

alter table DatPhong 
	add constraint DatPhong_LoaiPhong_FK 
	foreign key(maLoaiPhong)
	references LoaiPhong(maLoaiPhong)

alter table DatPhong 
	add constraint DatPhong_KhachHang_FK
	foreign key (maKH)
	references KhachHang(maKH)

alter table HoaDon
	add constraint HoaDon_DatPhong_FK
	foreign key(maDP)
	references DatPhong(maDP)

--==========================================================================================================
--==========================================================================================================
--===========================================================================================================
---Tạo các Trigger Ràng buộc



--ngày đặt phải lớn hơn ngày bắt đầu và ngày trả
GO

	CREATE TRIGGER trgNgayDat
	ON DatPhong
	FOR INSERT ,UPDATE 
	AS 
	IF UPDATE(ngayDat)
	BEGIN
		 IF ( EXISTS(SELECT*FROM inserted I WHERE ngayDat > ngayBatDau OR ngayDat > ngayTraPhong))
		 BEGIN
			RAISERROR(N'Lỗi: ngày đặt phải nhỏ hơn ngày bắt đầu và ngày trả phòng !!!',16,1)
			ROLLBACK 
		 END
	END
GO
------------------------------------------------------------------------------------------------------------
--ngày bắt đầu lớn hơn ngày trả
	CREATE TRIGGER trgNgayBatDau
	ON DatPhong
	FOR INSERT, UPDATE
	as
	IF UPDATE (ngayBatDau)
	BEGIN
		IF(EXISTS(SELECT*FROM inserted I WHERE ngayBatDau > ngayTraPhong))
		BEGIN 
			RAISERROR (N'Lỗi: ngày bắt đầu  lớn hơn ngày trả',16,1)
			ROLLBACK
		END
	END
	IF UPDATE (NgayTraPhong)
	BEGIN
		IF(EXISTS(SELECT*FROM inserted I WHERE ngayBatDau > ngayTraPhong))
		BEGIN 
			RAISERROR (N'Lỗi: ngày bắt đầu  lớn hơn ngày trả',16,1)
			ROLLBACK
		END
	END
------------------------------------------------------------------------------------------------------------
--ngày lập hóa đơn phải bằng ngày trả

go
CREATE TRIGGER trgDonDatPhong
ON HoaDon
FOR INSERT 
AS
BEGIN 
	DECLARE @madp CHAR(10)
	SELECT @madp=dp.maDP FROM inserted I,dbo.DatPhong dp WHERE I.maDP= dp.maDP AND dp.tinhTrang = N'Chưa xác nhận'

	IF(EXISTS (SELECT*FROM inserted I WHERE I.maDP=@madp))
	BEGIN 
		RAISERROR(N'Lỗi: đơn đặt hàng trạng thái chưa xác nhân ko được insert"',16,1)
		ROLLBACK
	END 
END 


------------------------------------------------------------------------------------------------------------
--Mỗi mã đặt phòng chỉ cho 1 hóa đơn
go
CREATE TRIGGER trgDatPhongMotHoaDon
ON HoaDon
FOR INSERT
as

IF(SELECT COUNT(hd.maDP)FROM inserted I  INNER  JOIN  dbo.HoaDon hd ON hd.maDP=I.maDP )>1
BEGIN
	RAISERROR(N'Loỗi :1 mã đặt phog chỉ một hóa đơn!!',16,1)
	ROLLBACK
END 
------------------------------------------------------------------------------------------------------------
--Tên đang nhập không được trùng
go
CREATE TRIGGER  trgTenDangNhap
ON  KhachHang
FOR INSERT,UPDATE 
AS
IF(SELECT COUNT(kh.tenDangNhap) FROM inserted I INNER JOIN dbo.KhachHang kh on kh.tenDangNhap=I.tenDangNhap)>1
BEGIN 
	RAISERROR('Lôi: tên đang nhập  đã bị trùng!!!',16,1)
	ROLLBACK 
END 
------------------------------------------------------------------------------------------------------------
--số điện thoại không được trùng
go
CREATE TRIGGER trgSDT
ON KhachHang
FOR INSERT,UPDATE 
AS
IF(SELECT COUNT(kh.soDienThoai) FROM dbo.KhachHang kh INNER JOIN inserted I ON kh.soDienThoai=I.soDienThoai )>1
BEGIN
	RAISERROR('Lỗi: số điện thoại của khách hàng đã bị trùng1',16,1)
	ROLLBACK
END 
------------------------------------------------------------------------------------------------------------
--Email không được trùng
go
CREATE TRIGGER trgEmail
ON KhachHang
FOR INSERT, UPDATE 
AS
IF(SELECT COUNT (kh.email) FROM dbo.KhachHang kh INNER JOIN inserted I ON kh.email=I.email)>1
BEGIN
	RAISERROR('Lỗi: Email của khách hàng không được trùng',16,1)
	ROLLBACK
END 
------------------------------------------------------------------------------------------------------------
--Số chứng minh không được trùng
go
CREATE TRIGGER trgSoCMND
ON KhachHang
FOR INSERT, UPDATE 
AS
IF(SELECT COUNT (kh.soCMND) FROM dbo.KhachHang kh INNER JOIN inserted I ON kh.soCMND=I.soCMND)>1
BEGIN
	RAISERROR('Lỗi: số CMND của khách hàng không được trùng',16,1)
	ROLLBACK
END 

SELECT dp.maDP
FROM DatPhong dp WHERE dp.tinhTrang = N'Đã xác nhận'
------------------------------------------------------------------------------------------------------------
go
CREATE TRIGGER trgCapNhatThanhTien
ON HoaDon
FOR  INSERT,update
AS
IF UPDATE(tongTien)
BEGIN 
	DECLARE @ngayBatDau DATE = (SELECT dp.ngayBatDau FROM inserted I,dbo.DatPhong dp WHERE I.maDP=dp.maDP)
	DECLARE @ngayTraPhong DATE = (SELECT dp.ngayTraPhong FROM inserted I,dbo.DatPhong dp WHERE I.maDP=dp.maDp)
	DECLARE @donGia int = (SELECT dp.donGia FROM inserted I, dbo.DatPhong dp WHERE I.maDP=dp.maDp)
	DECLARE @tongngay INT

	DECLARE @madp CHAR(15)  =(SELECT dp.maDP FROM inserted I, dbo.DatPhong dp WHERE I.maDP=dp.maDp)
	SET @tongngay = DATEDIFF(day,@ngayBatDau,@ngayTraPhong) 
	UPDATE Hoadon SET tongTien=@tongngay*@donGia WHERE maDP=@madp
END 
------------------------------------------------------------------------------------------------------------------